.bash_history
.hushlogin
dis-bot
bruh*
.lesshst
.mysql_history
.python_history
y
x
dl
ndl
bench
.zcompdump
.cache/   
dra-cla/
lol*/
.npm/
.npmrc
hls
.config/  
.ipython/ 
.local/   
.termux/  
storage/
website
token
.gitconfig
.histfile
.ssh/
.termux_authinfo
.shortcuts
BB90-191C
temp*
revanced*
sh-dlp
