.bash_history
.lesshst
.mysql_history
.python_history
y
x
dl
ndl
bench
.zcompdump
.cache/   
dra-cla/
lol*/
.npm/
.npmrc
.config/  
.ipython/ 
.local/   
.termux/  
storage/
token
.gitconfig
.histfile
.ssh/
.termux_authinfo
.shortcuts
7689-5BBD
temp*
